
.container {
    background-image: url("/assets/images/squares.png");
    display: table-cell;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}




.block{
    background-color: #414141;
    height: 400px;
    max-width: 600px;
    min-width: 280px;
    margin: 10px;
    width: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.block>h1{
    color: rgb(243, 243, 243);
    margin-top: 50px;
}

.block a{
    color:rgb(163, 192, 218);
    padding-bottom: 20px;
}
.block span{
    color:white;
    padding-bottom: 20px;
}

.c-btn{
    width: 220px;
    height: 50px;
    margin: 5px;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}
.c-btn.join{
    background-color: #c2920e;
    color: white;

}

.mat-form-field-flex{
background-color: white; 
}


@media screen and ( max-width:400px) {
    .block{
        width: 90%;

    }
    
    
}